<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <style>
      .image-container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      body::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("/prince.jpg");
        background-size: cover;
        background-position: center;
        z-index: -1;
        background-color: rgb(62 165 91 / 50%);
        filter: blur(4px);
      }
    </style>
  </head>
  <body class="image-container mt-4">
    <div class="container">
      <h1 style="font-family: fantasy" class="display-4 text-center py-1">
        MY VISIONS
      </h1>

      <div class="jumbotron p-3" style="background-color: unset">
        <form id="create-form" action="/create-item" method="POST">
          <div class="d-flex align-items-center">
            <input
              id="create-field"
              name="vision"
              autofocus
              autocomplete="off"
              class="form-control mr-3"
              type="text"
              style="flex: 1"
            />
            <button class="btn btn-primary" style="border-radius: 20px">
              Add New Vision
            </button>
          </div>
        </form>
      </div>

      <ul id="item-list" class="list-group pb-5">
        <% items.map(function(item) { %>
        <li
          style="color: #0c5460; opacity: 0.85"
          class="list-group-item d-flex align-items-center justify-content-between"
        >
          <span class="item-text"><%=item.visionName%></span>
          <div>
            <button
              data-id="<%=item.visionId%>"
              class="edit-me btn btn-secondary btn-sm mr-1"
            >
              Edit
            </button>
            <button
              data-id="<%=item.visionId%>"
              class="delete-me btn btn-danger btn-sm"
            >
              Delete
            </button>
          </div>
        </li>
        <% }) %>
      </ul>

      <button id="clean-all" class="btn btn-danger" style="border-radius: 20px">
        Remove All
      </button>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/browser.js"></script>
  </body>
</html>
